*{
    margin: 0;
    padding: 0;
}
.top-header{

    background:#f0f2f4;
}
.top-header ul{
 list-style: none;
 margin: 0;
 display: flex;
 justify-content: flex-end;
 padding: 5px 0;
 align-items: center;
}
.top-header ul li{
      color: #424242;
    margin-left: 30px;
}
.top-header ul li i{
    margin-right: 5px;
}
.top-header ul li:last-child{
    margin-left: 10px !important;
    color: #1287bf;
    font-size: 20px;
}


.navbar-light .navbar-nav .nav-link {
    color: #424242;
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
}
.btn-cunsultation{

background: #de2b24;

color: #fff !important;

padding: 0;

padding: 5px 0px;

font-size: 16px !important;

}

.btn-cunsultation:hover{

    background-color:transparent;
    border-color:#de2b24;

}

.banner{
   background-image: url(../images/banner.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
.banner h1{

color: #fff;

font-size: 50px;
}
.banner h4{
    
color: #fff;
    
font-weight: 300;

}
.banner button{
    
background: transparent;
    
border: none;
    
color: #fff;
    
background: #f8cd53;
    
font-size: 20px;
    
font-weight: 600;
    
padding: 5px 20px;
    
border-radius: 3px;
    
text-transform: uppercase;
text-align:center;
margin:20px;
}
.banner .row{
    min-height: 80vh;
}
.banner button:hover{

    background-color:transparent;
    border-color:#f8cd53;
}
.about{

}

.heading{

}
.heading h1{

}
.heading h5{

font-weight: 300;
}
.heading span{

height: 5px;

width: 0px;

background: #212529;

display: block;

margin: auto;
transition: .4s all ease-in-out;
}
.heading:hover span{

    width:50px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin: -5px;
}
.h3, h3 {
    font-size: 1.75rem;
    padding: 13px;
}
.approach{

background: #f3f3f3;
}
.approach-content{

background: #fff;
}
.approach-content h4{

text-transform: capitalize;

padding-left: 60px;
}
.approach-content p{

margin: 0;

padding: 0 60px;
}
.step{

background: #de2b24;

width: 90px;

height: 90px;

text-align: center;

color: #fff;

border: 1px solid #fff;

border-radius: 5px;

position: absolute;

top: 50%;

right: -40px;

transform: translateY(-50%);
}

.step:hover{

    background-color:transparent;
    border-color:#fff;

}
.step h1{

margin: 0;

font-size: 40px;

font-weight: 700;

padding-top: 5px;
}
.step h6{

margin: 0;

text-transform: capitalize;

font-weight: 600;
}
.pos{
    
position: relative;
}
.position{

position: relative;
}
.position .step{
    background: #de2b24;
    width: 90px;
    height: 90px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -45px;
}

.position .step:hover{

    background-color:transparent;
    border-color:#fff;

}

.approach-content-left{

}
.approach-content-left h4{

padding: 0 60px;
}
.approach-content-left p{

padding: 0 60px;
}